version: '3.8'

services:

  app:
    image: php:8.2-fpm
    container_name: paw12-php-runtime
    volumes:
      - ./:/var/www/html
    networks:
      - app-network
    depends_on:
      - db

  web:
    image: nginx:latest
    container_name: paw12-nginx-web
    ports:
      - "8081:80"
    volumes:
      - ./:/var/www/html
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
